<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Product - Shopme Admin</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <script rel="script" th:src="@{/webjars/bootstrap/js/bootstrap.js}" ></script>
    <!-- Jquery -->
    <script rel="script" th:src="@{/webjars/jquery/jquery.js}" ></script>
</head>
<body>
    <div class="container-fluid">
        <!-- Header Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/carsales.png}" th:style="'width:100px'"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{/users}">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories}">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/brands}">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/products}">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/customers}">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/orders}">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/reports}">Sale Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/articles}">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/menus}">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/settings}">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <h1 class="text-primary" >[[${pageTitle}]]</h1>
        </div>
        <!-- Form Create New Category -->
        <form th:action="@{/products/save}" th:object="${product}" method="post" style="width: 800px; margin:0 auto"
              enctype="multipart/form-data">
            <!--Hidden ID of category -->
            <input type="hidden" th:field="*{id}" />
            <!-- Tab panes and Nav -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" >Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab">Description</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab">Images</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab">Details</button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="border border-secondary rounded p-4">
                        <!-- Product Name -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label class="col-form-label">Product Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{name}" required minlength="1" maxlength="128"/>
                            </div>
                        </div>
                        <!-- Alias -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label class="col-form-label">Alias</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" th:field="*{alias}" required minlength="1" maxlength="64"
                                placeholder="Default is product name"/>
                            </div>
                        </div>
                        <!-- Brand -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label class="col-form-label">Product Brand</label>
                            </div>
                            <div class="col-sm-9">
                                <select th:field="*{brand}" style="width: 100%" required>
                                    <th:block th:each="brand : ${listBrands}">
                                        <option th:value="${brand.id}">[[${brand.name}]]</option>
                                    </th:block>
                                </select>
                            </div>
                        </div>

                        <!-- Category -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label class="col-form-label">Product Category</label>
                            </div>
                            <div class="col-sm-9">
                                <select th:field="*{category}" style="width: 100%">

                                </select>
                            </div>
                        </div>

                        <!-- Image Upload -->
                        <!--                <div class="row g-3 align-items-center mb-3">-->
                        <!--                    <div class="col-sm-3">-->
                        <!--                        <label for="uploadImageCategoryInput" class="col-form-label">Category Image</label>-->
                        <!--                    </div>-->
                        <!--                    <div class="col-sm-9">-->
                        <!--                        <input type="hidden" th:field="*{image}">-->
                        <!--                        <input type="file" id="uploadImageCategoryInput" name="categoryImage"-->
                        <!--                               accept="image/png, image/jpg" class="mt-2 mb-2" th:required="${category.imagePath == null}" />-->
                        <!--                        <div class="mt-2">-->
                        <!--                            <img th:src="@{${category.imagePath}}" class="img-fluid" id="thumbnail"/>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                        <!--                </div>-->

                        <!-- Enabled -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label for="inputEnabled" class="col-form-label">Enabled</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="checkbox" id="inputEnabled" th:field="*{enabled}" class="m-2"/>
                            </div>
                        </div>

                        <!-- In stock -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label for="inputInStock" class="col-form-label">In Stock</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="checkbox" id="inputInStock" th:field="*{inStock}" class="m-2"/>
                            </div>
                        </div>

                        <!-- Cost -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label class="col-form-label">Cost</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" th:field="*{cost}"/>
                            </div>
                        </div>

                        <!-- Price -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label class="col-form-label">Price</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" th:field="*{price}"/>
                            </div>
                        </div>

                        <!-- Discount Percent -->
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col-sm-3">
                                <label class="col-form-label">Discount Percent</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" th:field="*{discountPercent}"/>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div style="width: 300px; margin:0 auto" class="text-center">
                            <input type="submit" class="btn btn-primary m-3" value="Save"/>
                            <input type="button" class="btn btn-secondary" value="Cancel" id="buttonCancel"/>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
                <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">3</div>
                <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">4</div>
            </div>
        </form>

        <!--Modal-->
<!--        <div class="modal fade" id="userModal" tabindex="-1" aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        &lt;!&ndash;Modal Title&ndash;&gt;-->
<!--                        <h5 class="modal-title text-danger" id="titleModal"></h5>-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->

<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
<script type="text/javascript">
    dropDownBrand = $("#brand")
    dropDownCategory = $("#category")
    brandID = dropDownBrand.val()

    moduleURL = "[[@{/products}]]"
    brandURL = "[[@{/brands}]]"

    $(document).ready(function () {
        $("#buttonCancel").on("click", function (){
            window.location = moduleURL
        })

        dropDownBrand.change(function () {
            // before append need to clear the content of dropdown category
            dropDownCategory.empty();
            getCategories();
        })

        getCategories();
        // $("#uploadImageCategoryInput").change(function () {
        //     let fileSize = this.files[0].size;
        //
        //     if (fileSize > 1048576) {
        //         this.setCustomValidity("You must choose an image less than 1MB !");
        //         this.reportValidity();
        //     } else {
        //         this.setCustomValidity("")
        //         showImageThumbnail(this);
        //     }
        // })
    });

    function getCategories() {
        // Rest API : brands/{id}/categories
        let url = brandURL + "/" + brandID + "/categories"
        $.get(url, function (responseJson) {
            $.each(responseJson, function (index, category) {
                $("<option>").val(category.id).text(category.name).appendTo(dropDownCategory);
            })

        })
    }
    // Check unique of name and alias
    // function checkUnique(form) {
    //     // to RestController
    //     let url = "[[@{/categories/check_unique}]]";
    //
    //     let categoryId = $("#id").val();
    //     let categoryName = $("#name").val();
    //     let alias = $("#alias").val();
    //
    //     let params = {
    //         id: categoryId ,
    //         name: categoryName,
    //         alias : alias
    //     };
    //
    //     // AJAX call
    //     $.post(url, params, function (response) {
    //         if (response === "OK") {
    //             form.submit();
    //         } else if (response === "DuplicateName") {
    //             ShowModalDialog("Warning", categoryName + " is already exist ! Please choose another name")
    //         } else if (response === "DuplicateAlias") {
    //             ShowModalDialog("Warning", alias + " is already exist ! Please choose another alias")
    //         } else ShowModalDialog("Warning", "Unknown response from server !");
    //     }).fail(function () {
    //         ShowModalDialog("Error", "Unable connect to server !")
    //     })
    //     // prevent submit
    //     return false;
    // }
    //
    // // Show Modal Dialog
    // function ShowModalDialog(title, message) {
    //     $('#titleModal').text(title)
    //     $('.modal-body').text(message)
    //     // trigger Modal
    //     $('#userModal').modal('show');
    // }
    //
    // // ShowImageThumbnail
    // function showImageThumbnail(fileInput) {
    //     let file = fileInput.files[0]
    //     let reader = new FileReader()
    //     reader.onload = function (e) {
    //         $("#thumbnail").attr("src", e.target.result)
    //     }
    //     reader.readAsDataURL(file);
    // }
</script>
</body>
</html>